<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Bootstrap Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
</head>
<body>
    <p class="text-decoration-underline">Welcome to HTML!123</p>
    <div class='container'><img src="{{ url_for('static', filename='/img/chart.png') }}" width="100%" alt="Paralympics line chart showing participants over time"></div>
</body>
</html>
